.cmts{

  right: 100px;
}
.table-responsive{
  height:180px; width:50%;
  overflow-y: auto;
  border:2px solid #444;
}.table-responsive:hover{border-color:red;}

table{width:100%;}
td{padding:24px; background:#eee;}


.hdr{
	background-color: blue;
}
.BODY {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60); 
}
.end{
	background-color: #00B241;
	 padding-top: 20px;
	 padding-bottom:20px;
	/*#15C155;*/
}

.L{
   text-align: center;
   color: black;
   font-weight: bold;   
}

.I{
	border: 1px solid black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
	background-color: #B49CE0;
  /*background-color: #111; */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menuB{
  position: absolute;
  top: 0;
  left: -50px;
  font-size: 36px;
  margin-left: 50px;
}